<a href="https://colab.research.google.com/github/konrad-l/machine_learning_bootcamp/blob/main/supervised/01_basics/03_feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Spis treści:
1. [Import bibliotek](#0)
2. [Załadowanie danych](#1)
3. [Utworzenie kopii danych](#2)
4. [Generowanie nowych zmiennych](#3)
5. [Dyskretyzacja zmiennej ciągłej](#4)
6. [Ekstrakcja cech](#5)

### <a name='0'></a> Import bibliotek

In [2]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'1.0.2'

### <a name='1'></a> Załadowanie danych

In [1]:
def fetch_financial_data(company='AMZN'):
  """
  This function fetches stock market quotations.
  """
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

             Open   High     Low  Close    Volume
Date
2022-11-25  93.79  94.43  93.065  93.41  35088609
2022-11-23  93.24  94.58  92.830  94.13  59414684
2022-11-22  92.62  93.35  90.870  93.20  62191962
2022-11-21  93.97  95.02  90.590  92.46  84330270
2022-11-18  95.95  95.99  92.480  94.14  72428185

### <a name='2'></a> Utworzenie kopii danych

In [6]:
df = df_raw.copy()
df = df[:5]
df.info()
# zapisano 5 pierwszych wierszy

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2022-11-25 to 2022-11-18
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

### <a name='3'></a> Generowanie nowych zmiennych

In [7]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

             Open   High     Low  Close    Volume  day  month  year
Date
2022-11-25  93.79  94.43  93.065  93.41  35088609   25     11  2022
2022-11-23  93.24  94.58  92.830  94.13  59414684   23     11  2022
2022-11-22  92.62  93.35  90.870  93.20  62191962   22     11  2022
2022-11-21  93.97  95.02  90.590  92.46  84330270   21     11  2022
2022-11-18  95.95  95.99  92.480  94.14  72428185   18     11  2022

### <a name='4'></a> Dyskretyzacja zmiennej ciągłej

In [9]:
# stworzenie nowego df
df = pd.DataFrame({'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [12]:
# storzenie kolumny, w której zapisany zostanie wyniki w postaci 3 automatycznych 
# przedziałów
df['height_cat'] = pd.cut(x=df.height, bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [13]:
# przedstwienie konkretnych przedziałów
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195))
df

   height  height_cat
0   175.0  (160, 175]
1   178.5  (175, 180]
2   185.0  (180, 195]
3   191.0  (180, 195]
4   184.5  (180, 195]
5   183.0  (180, 195]
6   168.0  (160, 175]

In [14]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195), 
                          labels=['small', 'medium', 'high'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   191.0       high
4   184.5       high
5   183.0       high
6   168.0      small

In [18]:
pd.get_dummies(df, drop_first=True, prefix='height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

### <a name='5'></a> Ekstrakcja cech

In [29]:
df = pd.DataFrame({'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [30]:
df['lang_number'] = df['lang'].apply(len)
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [31]:
df['PL_flag'] = df['lang'].apply(lambda x: 1 if 'PL' in x else 0)
df

                  lang  lang_number  PL_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [28]:
# alteratywnie z funkcją 'map' podobnie jak w zad. 143 i 217
# df['PL_flag_map'] = df['lang'].map(lambda x: 1 if 'PL' in x else 0)
# df

                  lang  lang_number  PL_flag  PL_flag_map
0            [PL, ENG]            2        1            1
1  [GER, ENG, PL, FRA]            4        1            1
2                [RUS]            1        0            0

In [34]:
# stworzenie nowego df
df = pd.DataFrame({'website': ['wp.pl', 'onet.pl', 'google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

In [41]:
# oznaczenie 'str' mówi, że będziemy działać na zmiennych tekstowych
df.website.str.split('.', expand=True)

        0    1
0      wp   pl
1    onet   pl
2  google  com

In [40]:
new = df.website.str.split('.', expand=True)
df['portal'] = new[0]
df['extension'] = new[1]
df

      website  portal extension
0       wp.pl      wp        pl
1     onet.pl    onet        pl
2  google.com  google       com